@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.my-max-width {
  max-width: calc(100vw - (100vw - 1160px) / 2);
}

#customCheckbox:checked + label .w-6 {
  background-color: transparent; /* Altera o fundo para transparente quando selecionado */
  border-color: #34d399; /* Cor da borda quando selecionado (verde) */
}

/* Personalize a cor da verificação (ícone) quando o checkbox está selecionado */
#customCheckbox:checked + label .w-4 {
  background-color: #34d399; /* Cor de fundo (verde) quando selecionado */
  border-color: #34d399; /* Cor da borda (verde) quando selecionado */
}
